body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007bff;
    text-align: center;
    font-weight: 400; /* Adjusted for consistency */
}

.container {
    background-color: white;
    border-radius: 8px;
    padding-left: 16px; /* Adjusted for better spacing */
    height: auto; /* Changed for flexible height */
    max-width: 1200px; /* Added max width for larger screens */
    margin: 0 auto; /* Center the container */
}
