<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style/bundle.css">
    <title>Data</title>
</head>
<body>
  <div id="sidebar-placeholder"></div>
  <div class="container">
      <div class="pg-header">
          <div class="pg-header-section pg-header-title">
              <h4 class="pg-page-title">Data</h4>
          </div>
      </div>
        <section id="key-metrics">
            <div class="metric" id="total-watch-time">Total Watch Time: <span>Loading...</span></div>
            <div class="metric" id="top-channels">Top Channels: <span>Loading...</span></div>
            <!-- More metrics can be added here -->
        </section>

        <section id="charts">
            <!-- Placeholder for Charts -->
        </section>

        <nav>
            <!-- Links to different analysis sections -->
            <a href="#watch-time-analysis">Watch Time Analysis</a>
            <a href="#channel-analysis">Channel Analysis</a>
            <!-- More links can be added here -->
        </nav>
    </body>

    <footer>
        <!-- Footer content here -->
    </footer>

  <script src="static/js/menu.js"></script>
</body>
</html>
